---
import Layout from '@layouts/Layout.astro'
---

<Layout title="About">
  <div class="py-12">
    <h1 class="text-2xl font-medium mb-8">About</h1>
    <p class="text-foreground-muted">TODO</p>
  </div>
</Layout>
