---
import siteConfig from '../site.config'
---

<header class="flex items-center justify-between pb-8 mb-8 border-b border-foreground/10">
  <a href="/" class="text-foreground no-underline font-medium">
    {siteConfig.title}
  </a>
  <nav class="flex items-center gap-6">
    {
      siteConfig.navLinks.map((link) => (
        <a
          href={link.url}
          class="no-underline text-foreground-muted hover:text-foreground transition-colors"
        >
          {link.name}
        </a>
      ))
    }
  </nav>
</header>
