---
import siteConfig from '../site.config'
---

<header class="flex items-center justify-between pb-8 mb-8 border-b border-foreground/10">
  <a href="/" class="text-foreground no-underline font-medium">
    {siteConfig.title}
  </a>
</header>
