---
interface Props {
  avatarUrl?: string
}
const { avatarUrl } = Astro.props
---

<div class="my-12 flex flex-col sm:flex-row items-center gap-12">
  {
    avatarUrl && (
      <img
        src={avatarUrl}
        alt="Patrick Erichsen"
        class="rounded-full w-36 h-36 shrink-0"
      />
    )
  }
  <div class="home-bio text-foreground-muted text-right">
    <slot />
  </div>
</div>

<style is:global>
  .home-bio a {
    text-decoration: underline;
    text-underline-offset: 2px;
  }
  .home-bio a:hover {
    text-decoration-thickness: 2px;
  }
</style>
