---
interface Props {
  avatarUrl?: string
}
const { avatarUrl } = Astro.props
---

<div class="my-12 flex flex-col sm:flex-row items-center sm:items-center gap-12">
  {
    avatarUrl && (
      <img
        src={avatarUrl}
        alt="Patrick Erichsen"
        class="rounded-full w-36 h-36 shrink-0"
      />
    )
  }
  <div class="text-foreground-muted sm:text-right sm:ml-auto">
    <slot />
  </div>
</div>
