---
interface Props {
  prevLink?: string
  prevText?: string
  nextLink?: string
  nextText?: string
}

const { prevLink, prevText, nextLink, nextText } = Astro.props
---

<div class="my-8 flex justify-between text-foreground-muted text-sm">
  {
    prevLink ? (
      <a
        href={prevLink}
        class="hover:text-foreground no-underline transition-colors"
      >
        &larr; {prevText || 'Previous'}
      </a>
    ) : (
      <span />
    )
  }
  {
    nextLink && (
      <a
        href={nextLink}
        class="hover:text-foreground no-underline transition-colors"
      >
        {nextText || 'Next'} &rarr;
      </a>
    )
  }
</div>
